<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="nl.psdcompany.duonavigationdrawer.example">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage"
                  android:label="GetS"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="mainactivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".MainAdmin"
            android:label="mainactivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".MainStaff"
            android:label="mainactivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity android:name=".Forgotpswd"
            android:label="Forgot Password"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".Registration"
            android:label="Registration"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".AllBatch"
            android:label="all batch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".BatchWise"
            android:label="batch wise"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".Individual"
            android:label="individual"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".AdminEmail"
            android:label="Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".Gallery"
            android:largeHeap="true"
            android:label="Gallery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity
            android:name=".StudentEmail"
            android:label="Email"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".StaffEmail"
            android:label="Profile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".ChangePswd"
            android:label="Change Password"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity
            android:name=".ContactUs"
            android:label="Contact Us"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".Course"
            android:label="course details"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".Main2Activity"
            android:label="Upload"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />


    </application>
</manifest>
